@model IEnumerable<Expense_Tracker.Models.SignUp>

@{
    ViewData["Title"] = "Index";
}
<style>
    td {
        color: white;
    }

    th {
        color: white;
    }
</style>
<h4>Successfully Registered!</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.Confirm_Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
                <td style="display:none">
                @Html.DisplayFor(modelItem => item.Password)
            </td>
                <td style="display:none">
                @Html.DisplayFor(modelItem => item.Confirm_Password)
            </td>
            <td>
               
                <a asp-action="Delete" asp-route-id="@item.user_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
